<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="CONSOLE-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/error.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="MBPROD-SERVICE-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/mbprod-service.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="MBPROD-INTEGRATION-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/mbprod-integration.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="MBPROD-DAL-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/mbprod-dal.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="MBPROD-COMMON-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/mbprod/mbprod-common.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<logger name="com.sm.open.mbprod.service" additivity="false">
		<level value="${log_level}" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="MBPROD-SERVICE-APPENDER" />
	</logger>

	<logger name="com.sm.open.mbprod.integration" additivity="false">
		<level value="${log_level}" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="MBPROD-INTEGRATION-APPENDER" />
	</logger>

	<logger name="com.sm.open.mbprod.dal" additivity="false">
		<level value="${log_level}" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="MBPROD-DAL-APPENDER" />
	</logger>

	<logger name="com.sm.open.mbprod.common" additivity="false">
		<level value="${log_level}" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="MBPROD-COMMON-APPENDER" />
	</logger>

	<logger name="monitor" additivity="false">
		<level value="${log_level}" />
		<appender-ref ref="ERROR-APPENDER" />
	</logger>

	<root>
		<level value="${log_level}" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>

</log4j:configuration>
